@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Spartan:wght@900&display=swap');

body {
    font-family: 'Comfortaa', cursive;  
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f6f7fc;
    color: rgba(0,0,0,.5);
}
#gradient{
    position: relative;
    background: linear-gradient(45deg, #FFB319 , #F43B86);
    width: 250px;
    height: 320px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 2px 31px 35px -15px rgba(0,0,0,0.64);
}
h1{
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgba(0,0,0,.5);
    margin: 0;
    padding: 1.5rem;
}
input{
    border-radius: 0px;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
}
h3 {
    font-family: 'Comfortaa', cursive;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 60%;
    margin: 2rem auto;
}
h4{
    font-family: monospace;
    font-size: 1.3rem;
}
.code{
    margin: auto 6rem;
    width: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}
@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
    }
}
select{
    width: 20%;
    height: 40px;
    text-align: center;
    border: none;
    background: #F43B86;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
option{
    background: #FFB319;
    border: none;
}